@font-face {
    font-family: lexend-deca;
    src: url("https://fonts.google.com/specimen/Lexend+Deca");
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.logos{
    padding-top:30px;
}

.text, .title{
    width: 90%;
    padding-bottom: 20px;
    color: white;
}
.text{
    font-weight: 400;
    font-family: lexend-deca;
}
.title{
    font-weight: 700;
}
.sedans, .suvs, .luxury{
    border: 1px solid green;
    width: 200px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.sedans{
    background-color: hsl(31, 77%, 52%);
    border-radius: 7px 0px 0px 7px;
}
.suvs{
    background-color: hsl(184, 100%, 22%);
}
.luxury{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 7px 7px 0px;
}

/* buttons */
.btn{
    border: none;
    padding: 10px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 95%);
    font-weight: 400;
}
.sedan-btn{
    color: hsl(31, 77%, 52%);
}
.sedan-btn:hover{
    background-color: hsl(31, 77%, 52%);
    color: white;
    border: 2px solid white;
}

.suv-btn{
    color: hsl(184, 100%, 22%);
}
.suv-btn:hover{
    background-color: hsl(184, 100%, 22%);
    color: white;
    border: 2px solid white;
}

.luxury-btn{
    color: hsl(179, 100%, 13%);
}
.luxury-btn:hover{
    background-color: hsl(179, 100%, 13%);
    color: white;
    border: 2px solid white;
}


/*
Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)


- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700
*/